.learnworlds-subheading-normal {
  font-size: 2.0rem;
  font-weight: normal;
  letter-spacing: 0rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: "Merriweather";
  margin-top: 260px;
  width: 500px;
  position: absolute;
  margin-left: 15rem;
}
#el_1600795941244_15 {
  opacity: 0.75;
}
.lw-text-color-fadeout20 {
  opacity: 0.8;
}
.learnworlds-main-text-normal {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0rem;
  line-height: 1.55;
  text-transform: none;
  font-family: "Lato";
  width: 40rem;
  margin-top: 322px;
  position: absolute;
  margin-left: 11rem;
}
